<h2>Template: Basicos</h2>
<hr>

<div class="row">
    <div class="col">

        <form (ngSubmit)="save()" #miForm="ngForm" autocomplete="off">

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Producto</label>
                <div class="col-sm-9">

                    <input minlength="3" name="produc" [ngModel]=initForm.produc required type="text" class="form-control" placeholder="Nombre del producto">

                    <span *ngIf="validName()" class="form-text text-danger">
                                Debe de ser de 3 letras
                            </span>

                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Precio</label>
                <div class="col-sm-9">

                    <input min="0" [ngModel]=initForm.price name="price" type="number" class="form-control" placeholder="Precio del producto">

                    <span *ngIf="validPrice()" class="form-text text-danger">
                        El precio debe de ser 0 o mayor
                    </span>


                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Existencias</label>
                <div class="col-sm-9">
                    <input required customMin [minimo]="0" [ngModel]=initForm.stocks name="stocks" type="number" class="form-control" placeholder="Existencias del producto">

                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button [disabled]="miForm.invalid" type="submit" class="btn btn-primary float-end">Guardar</button>
                </div>
            </div>

        </form>

    </div>
</div>

<div class="row">
    <div class="col">

        <span>Valid -> pq tiene campos obligatorios</span>
        <pre>{{miForm.valid}}</pre>

        <span>Pristine -> qp no se toco nada desde q se le presento al usuario</span>
        <pre>{{miForm.pristine}}</pre>

        <span>Touches -> si el usuario ha tocado el form</span>
        <pre>{{miForm.touched}}</pre>

        <span>Value</span>
        <pre>{{miForm.value | json}}</pre>

        <span>CustomDirective</span>
        <pre>{{miForm.controls.stocks?.errors | json}}</pre>
    </div>
</div>